
@{
    ViewBag.Title = "LayoutSectionPogled";
    Layout = "~/Views/_SectionLayout.cshtml";
    int godina = DateTime.Now.Year;
}

<h2>LayoutSectionPogled</h2>
<p>Ovo je pogled</p>

@section Header {<h1 style="background-color: lightblue;">Naslov</h1>}

